[requires]
python_version = "3.8"

[packages]
# Use pip install -e ../django-crispy-forms for local dev
django-crispy-forms = ">=2.0"
# template packs
crispy-forms-semantic-ui = ">=0.2.0"
crispy-bootstrap3 = ">=2024.1"
crispy-bootstrap4 = ">=2024.1"

gunicorn = ">=20.0.4"
pytz = ">=2019.3"
Django = ">=4.2"
