Django==1.11.4
django-crispy-forms==1.6.1 # Use pip install -e ../django-crispy-forms for local dev
gunicorn==19.7.1
pytz==2017.2
crispy-forms-semantic-ui==0.2.0 # added to ease up testing of semantic ui templates
